/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX */
.flex {
    display: flex;
}

/* FONT */
*{
    font-family: 'Noto Sans', sans-serif;
}

/* CONTENITORI */
.container {
    max-width: 1200px;
    margin: 0 auto;
    
    position: relative;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* MARGINI */
.top-margin-150{
    margin-top: 150px;
}

.top-margin-50{
    margin-top: 50px;
}

.top-margin-30{
    margin-top: 30px;
}

.top-margin-15{
    margin-top: 15px;
}

.top-margin-10{
    margin-top: 8px;
}

/* IMMAGINI */
.image img{
    width: 100%;
}

/* TITOLI */

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

/* BOTTONI */
.button{
    display: inline-block;

    padding: 0.5em 1em;

    text-decoration: none;
    text-align: center;
}

.button.blue-button{
    color: #FFFFFF;
    background-color: #0061FF;
}

.button.white-button{
    border: 1px solid;

    color: #000000;
    background-color: #FFFFFF;

}