/* ----- HEADER ----- */
header {
    width: 100vw;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: #FFFFFF;
}

header > * {
    width: 50%;
    padding: 0 40px 0 25px;
    align-items: center;
}

header img {
    margin-right: 40px;
}

header ul {
    height: 100%;
    list-style: none;
}

header ul li{
    display: inline-block;
    margin-right: 40px;
}

header ul li:hover{
    border-bottom: 3px solid #0061FF; 
}

header nav ul li a {
    padding: 30px 0;
    
    line-height: 80px;

    text-decoration: none;
    color: #131313;
}

header .right-navbar {
    justify-content: flex-end;
}

/* ----- MAIN ----- */
main {
    margin-top: 70px;
}

/* TITLE */
.title {
    padding: 80px 0 20px;
    background-color: #B4D0E7;
}

.title h1 {
    font-size: 5em;
    font-weight: 900;
}

.title .title-text {
    width: 30%;
    margin-top: 50px;
}

.title .image {
    width: 70%;

    position: absolute;
    right: 0;
    bottom: -100px;
}

.title .button {
    margin: 30px 0;
}

.title i {
    display: inline-block;

    margin-top: 80px;

    font-size: 3em;
    color: #000000;
}


/* SUBCRIPTIONS PLANS */
.plans {
    font-size: 0.9em;
}

.plans .plan-price {
    font-weight: bold;
}

.plans .plan-renewal {
    color: #808080;
}

.plans ul {
    margin-left: 20px;
    list-style-position: outside;
}

.plans i.blue-icon {
    color: #0061FF;
}

#plans-selector {
    margin: 2.5rem 0;
}

#plans-selector input[type="radio"] {
    display: none;
}

#plans-selector label {
    margin: 0 1.5rem;

    position: relative;
    
    cursor: pointer;
}

#plans-selector label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;

    position: absolute;
    right: 102%;
    top: 50%;
    transform: translateY(-50%);

    border: 2px solid #808080;
    border-radius: 50%;

    background-color: #FFFFFF;
    transition: all 0.1s;
}

#plans-selector input:checked + label::before {
    width: 10px;
    height: 10px;
    border: 5px solid #0061FF;
}

/* COLONNE */
.plans-layout {
    margin-top: 50px;
    justify-content: space-between;
}

.plans-layout .plan-column {
    width: calc(100% / 3 - 40px);
}

.plan-column {
    margin-top: 50px;

    border: 1px solid #D3D3D3;
}

.plan-column .button {
    width: 100%;
}

.plan-column hr {
    width: 20%;
}

.plan-column-header {
    height: 50px;

    text-align: center;
    line-height: 50px;

    border-bottom: 1px solid #D3D3D3;
}

.plan-column-content {
    padding: 0 20px 40px;
}

.plan-column-content .right-button {
    width: 30%;
    padding-left: 20px;

    text-align: center;
}

/* PARTNER */
.partner .image {
    width: 60%;
}

.partner .partner-text {
    width: 40%;
    margin-top: 50px;
    padding: 0 40px;
}

/* BUSINESS PLAN OPERATIONS */
.business-plan-operations .cards-container {
    flex-wrap: wrap;
}

.business-plan-operations .card {
    width: calc(100% / 3);
    padding: 0 20px 50px;
}

/* TEAM BUSINESS */
.team-business a {
    display: inline-block;

    margin-top: 50px;
}

/* LOGO AZIENDE */
.companies-logo-wall{
    align-items: flex-start;
    overflow: hidden;
}

.companies-logo-wall > * {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.companies-logo-wall > *.flex {
    flex-wrap: wrap;
}

/* IMMAGINI */
.companies-logo-wall .logo-image {
    width: 50%;
    height: 50%;

    position: relative;
}

.companies-logo-wall .logo-image > * {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.companies-logo-wall .logo-image img {
    filter: invert(100%);
}

.companies-logo-wall .logo-image.designit {
    background-color: #A2D39B;
}

.companies-logo-wall .logo-image.asu {
    background-color: #61082B;
}

.companies-logo-wall .logo-image.uf {
    background-color: #0093CE;
}

.companies-logo-wall .logo-image.topps {
    background-color: #FF1C1C;
}

.companies-logo-wall .logo-image.wbr {
    background-color: #D5001F;
}

.companies-logo-wall .logo-image.hearts {
    background-color: #B4D0E7;
}

.companies-logo-wall .logo-image.lonely {
    background-color: #0D2481;
}

.companies-logo-wall .logo-image.cco {
    background-color: #FFD830;
}

/* CENTRAL SECTION */
.companies-logo-wall .central-square {
    padding: 40px;
    background-color: #F5F5F5;
}

.companies-logo-wall .central-square .central-element {
    height: 15%;
}

.companies-logo-wall .central-square hr {
    width: 20%;

    border-width: 0 0 1px;
    border-style: solid;
    border-color: #D0D0D3;
}

/* BUSINESS FREE TRIAL */
.business-free-trial {
    background-color: #B4D0E7;
}

.business-free-trial .small-container > * {
    padding: 100px 0;
}

.business-free-trial .trial-text {
    width: 70%;
    color: #61082B;
}

.business-free-trial .trial-button {
    width: 30%;
    text-align: right;
}

.business-free-trial .trial-button a {
    width: 100%;
    border: none;
}

/* DOMANDE FREQUENTI */
.faq h2 {
    margin-bottom: 50px;
}

.faq .row {
    padding: 30px 0;
    justify-content: space-between;

    border-top: 1px solid grey;
}

.faq .row:last-child {
    border-bottom: 1px solid grey;
}

.faq .row .request{
    font-weight: bold;
}

.faq .row .answer{
    display: none;
}

.faq .row:hover .answer{
    display: block;

    padding-top: 20px;
}

.faq .expand {
    padding-right: 50px;
}

/* ----- FOOTER ----- */
footer {
    background-color: #000000;
}

/* LINK UTILI */
.f-links .link-list {
    width: calc(100% / 5);
    padding: 100px 0;
}

footer h3{
    color: #FFFFFF;
}

.f-links .link-list ul {
    list-style: none;
}

.f-links .link-list a {
    color: #FFFFFF;
    text-decoration: none;
}

.f-links .link-list a:hover{
    text-decoration: underline;
}

footer hr{
    width: 10%;
}

/* LINGUA */
.language {
    color: #808080;
    padding: 50px 0;
}

.language .fa-earth-americas {
    margin-right: 5px;
}